.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zhuzi {
  position: absolute;
  width: 30px;
  background: pink;
  padding: 5px 5px;
  border-radius: 20px;
  height: 400px;
  right: 0;
  top: 0;
}

.dot {
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 100%;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 100px auto;
  background: yellow;
  padding: 5px 5px;
}

.rectangle {
}
.rectangle div {
  height: 30px;
  font-size: 14px;
}
.rectangle .rectangle-0 {
  background: red;
}
.rectangle .rectangle-1 {
  background: purple;
}
.rectangle .rectangle-2 {
  background: plum;
}
.rectangle .rectangle-3 {
  background: blue;
}
.rectangle .rectangle-4 {
  background: chartreuse;
}
